---
import ThreeJSComponent from "../components/ThreeJSComponent.astro";
import { fetchResources } from "../lib/contentful";
import ResourceCard from "../components/ResourceCard.astro";
import Navbar from "../components/Navbar.astro";
import InspoCard from "../components/InspoCard.astro";
import Footer from "../components/Footer.astro"
import '../styles/global.css';

const resource = await fetchResources();
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/cloudthree.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
		<title>Three Resources</title>

		<style>
			.inspo-wrapper {
				width: 100%;
				height: auto;
				display: grid;
				grid-template-columns: 2fr 2fr 2fr;
				gap: 1rem;
			}

			.container-hero {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				width: 90%;
			}

			#resources {
				height: auto;
			}

			.resource-wrapper {
				background-color: #99C1F6;
				padding: 1rem;
				width: 100%;
			}

			.resource-grid {
      			display: grid;
				width: 100%;
				grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
				grid-auto-flow: dense;
      			gap: 1rem;
    		}

			.sort-menu {
				width: 10%;
				background-color: rgb(208, 224, 238);
				padding-top: 1rem;
				padding-bottom: 1rem;
			}

			.sort-context {
				position: sticky;
				top: 30rem;
			}

			.sort-header {
				font-size: 1.5rem;
				font-weight: 500;
				text-align: center;
			}

			.sort-btn-wrap {
				display: flex;
				flex-direction: column;
				padding-left: 1rem;
				padding-right: 1rem;
			}

			.sort-btn-wrap * {
				margin-top: 0.25rem;
				margin-bottom: 0.25rem;
			}

			#inspiration {
				height: auto;
				padding: 0rem 8rem 8rem 8rem;
				display: flex;
				flex-direction: column;
			}
		</style>

<script type="module" defer>
    const buttons = document.querySelectorAll('.sort-btn-wrap button');
    const cards = document.querySelectorAll('.card');

    buttons.forEach(button => {
        button.addEventListener('click', () => {
            const filter = button.getAttribute('data-filter');

            cards.forEach(card => {
                const cardTag = card.getAttribute('data-tag');

                
                if (filter === 'all' || cardTag === filter) {
                    card.style.display = 'block';
		
                } else {
                    card.style.display = 'none';
				  
                }
            });
        });
    });
</script>
	</head>
	<body>
		<main>
			<Navbar/>
			<section>
				<ThreeJSComponent/>
				<div class = "container-hero">
					<div class = "hero-wrapper">
						<h1>Curated Resources for 3D Design and Development</h1>
				<p>
					Embark on your exciting journey into the world of 3D art and development with a curated list
					of resources and inspiring creatives. Discover even more tools and tips to elevate your skills! 
				</p>
					</div>	
				</div>
			</section>

			<section id = resources>
				<div class = "sort-menu">
					<div class = "sort-context">
					<p class = "sort-header">Sort By</p>
					<div class = "sort-btn-wrap">
					<button data-filter = "all">All Resources</button>
					<button data-filter = "Tool">Tools</button>
					<button data-filter = "Youtube">Youtube</button>
					<button data-filter = "Twitter">Twitters</button>
					<button data-filter = "Learning">Learning</button>
						</div>
					</div>
				</div>
				<div class = "resource-wrapper">
					<h2>Welcome to the Library</h2>
					<div class = "resource-grid" id = "resource-grid">
						{resource.map((resource) => (
							<ResourceCard
							  key={resource.id}
							  title={resource.title}
							  tag={resource.tag}
							  description={resource.description}
							  image={resource.image}
							  link = {resource.link}
							/>
						  ))}
				</div>
			</section>

			<section id = "inspiration">
				<h2>Inspired by the Best People</h2>
				<div class = "inspo-wrapper">
					<InspoCard
					title = "Huy Nguyen"
					role = "Designer + Dev"
					imgSrc = "/images/home/huy.png"
					link = "https://www.byhuy.com/"
					/>

					<InspoCard
					title = "Blrrd"
					role = "Senior Web Dev"
					imgSrc = "/images/home/milton.png"
					link = "https://x.com/miltonisblurrd"
					/>

					<InspoCard
					title = "Bruno Simon"
					role = "Creative Dev"
					imgSrc = "/images/home/bruno.png"
					link = "https://bruno-simon.com/"
					/>

					<InspoCard
					title = "Pillarstack"
					role = "Website"
					imgSrc = "/images/home/pillarstack.png"
					link = "https://www.pillarstack.com/"
					/>

					<InspoCard
					title = "Nine"
					role = "Creative Dev"
					imgSrc = "/images/home/nine.png"
					link = "https://x.com/ninecodes_"
					/>

					<InspoCard
					title = "Oliver Larose"
					role = "Creative Dev"
					imgSrc = "/images/home/oliver.png"
					link = "https://blog.olivierlarose.com/"
					/>
				</div>
			</section>

			<Footer />
		</main>
	</body>
</html>
