---
import ThreeJSComponent from "../components/ThreeJSComponent.astro";
import { fetchResources } from "../lib/contentful";
import ResourceCard from "../components/ResourceCard.astro";
import Navbar from "../components/Navbar.astro";
import '../styles/global.css';

const resource = await fetchResources();
console.log(resource.image)
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
		<title>Three Resources</title>

		<style>
			.container-hero {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				width: 90%;
				padding-left: auto;
				padding-right: auto;
			}

			.resource-grid {
      			display: grid;
      			grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      			gap: 16px;
      			padding: 16px;
    }
		</style>
	</head>
	<body>
		<main>
			<Navbar/>
			<section>
				<ThreeJSComponent/>
				<div class = "container-hero">
					<div class = "hero-wrapper">
						<h1>Curated Resources for 3D Design and Development</h1>
				<p>
					Embark on your exciting journey into the world of 3D art and development with a curated list
					of resources and inspiring creatives. Discover even more tools and tips to elevate your skills! 
				</p>
					</div>	
				</div>
			</section>

			<section>
				<div class = "resource-grid">
					{resource.map((resource) => (
						<ResourceCard
						  key={resource.id}
						  title={resource.title}
						  tag={resource.tag}
						  description={resource.description}
						  image={resource.image}
						/>
					  ))}
				</div>
			</section>
		</main>
	</body>
</html>
