---

const {title, imgSrc, link, role} = Astro.props;
---

<style>
  .inspo-card {
        text-decoration: none;
        cursor: pointer;
        color: #242424;
    }  

    a:visited {
        color: #242424;
    }

    .card-img {
        height: 100%;
        width: 100%;
    }

    .card-content {
        height: auto;
        width: auto;
        padding: 1rem;
        border: 2px solid #242424;
        background-color: #F1F1F1;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s;
    }

    .card-text {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
    }

    .role {
      padding: .5rem .75rem .5rem .75rem;
      background-color: #191919;  
      border-radius: 1.25rem;
      color: #E0E0E0;
      font-weight: 700;
      font-size: 1rem;
    }

    .card-content:hover {
        transform: translateY(-5px);
    }
</style>

<a href = {link} target="_blank" class = "inspo-card">
    <div class = "card-content">
        <img src = {imgSrc} alt = {title} class = "card-img" />
        <div class = card-text>
            <h3>{title}</h3>
            <p class = "role">{role}</p>
        </div>
    </div>
</a>