---
export interface Props {
    title: string;
    tag: string;
    description: string;
    image: string;
    link: string;
}

const { title, tag, description, image, link } = Astro.props;
---
<style>
    a {
        text-decoration: none;
        color: #242424;
    }

    .card {
        height: auto;
        width: 100%;
        padding: 0;
        margin: 0;
        border: 2px solid #242424;
        background-color: #F1F1F1;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: opacity 0.3s ease, visibility 0.3s ease, height 0.3s ease, transform 0.3s ease;
        cursor: pointer;
        color: #242424;
    }

    .card a {
        color:#242424;
    }

    .card a:visited {
        color: #242424
    }
    
    .card-img-wrap {
        margin-bottom: .5rem;
    }

    .card-img-wrap img {
        width: 100%;        
    }
    
    .card-content-wrap {
        padding: 16px;
        font-size: 1rem;
    }

    .card-head-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .card-head-wrap h3 {
        margin: 0;
        font-size: 1.2em;
    }

    .tag { 
        background-color: #191919;
        padding: 8px 12px 8px 12px;
        border-radius: 20px;
        font-size: 0.8rem;
    }
    
    .tag p {
        margin: 0;
        font-weight: 400;
        color: #E0E0E0;
        
    }
    
    .card:hover {
        transform: translateY(-5px);
    }
    </style>



    <div class = "card" data-tag = {tag}>
        <a href = {link} target="_blank">
            <div class = "card-content-wrap">
                <div class = "card-img-wrap">
                    <img src={image} alt={title}>
                </div>
        
                <div class = "card-txt-wrap">
                    <div class = "card-head-wrap">
                    <h3>{title}</h3>
        
                        <div class = "tag">
                            <p>{tag}</p>
                        </div>
                    </div>
                    <p class = "description">{description}</p>
                </div>
            </div>
        </div>  
        </a>




